<add name="IntegrationModelEntities" connectionString="metadata=res://*/Core.Model.IntegrationModel.csdl|res://*/Core.Model.IntegrationModel.ssdl|res://*/Core.Model.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=scscris1;initial catalog=CentralDatabase_Test;user id=IntegrationUser;password=IntegrationUser99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="IntegrationModelEntities" connectionString="metadata=res://*/Core.Model.IntegrationModel.csdl|res://*/Core.Model.IntegrationModel.ssdl|res://*/Core.Model.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.integration.nsw.candlerecruit.com;initial catalog=CentralDatabase_ProdTest;User ID=IntegrationUser;Password=IntegrationUser99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
<add name="IntegrationModelEntities" connectionString="metadata=res://*/Core.Model.IntegrationModel.csdl|res://*/Core.Model.IntegrationModel.ssdl|res://*/Core.Model.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.test.integration.nsw.candlerecruit.com;initial catalog=CentralDatabase_Test;User ID=IntegrationUser;Password=IntegrationUser99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

<add name="InternalPayrollEntities" connectionString="metadata=res://*/Model.InternalPayroll.csdl|res://*/Model.InternalPayroll.ssdl|res://*/Model.InternalPayroll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.integration.nsw.candlerecruit.com;initial catalog=CentralDatabase_ProdTest;user id=ClariusInternalPayroll;password=ClariusInternalPayroll99;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="InternalPayrollEntities" connectionString="metadata=res://*/Model.InternalPayroll.csdl|res://*/Model.InternalPayroll.ssdl|res://*/Model.InternalPayroll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCSCRIS1;initial catalog=InternalPayroll;persist security info=True;user id=ClariusInternalPayroll;password=ClariusInternalPayroll99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />